*{
	margin:0;
	box-sizing:border-box;
}

body{
	margin: 0;
	/*border: 1px solid;*/
	font-family: arial;
}

a{
	text-decoration: none;
	color: inherit;
}

.main-wrapper{
	margin: 0 auto;
	/*width: 800px;*/
}

.main-header{
	text-align: center;
	background: url('images/header/background.jpg') no-repeat;
	
	color: white;
	text-transform: uppercase;
	background-repeat: no-repeat;
	/*height: 590px;*/
	padding: 50px;

	background-size:cover;
}

.logo{
	display: inline-block;
}

.menu{
	width: auto;
	margin-top: 50px;
}

.menu-item{
	margin:0 18px;
	font-weight: bold;
}

.main-header div{
	text-align: center;
}

.big-heading{
	font-size: 40px;
	margin-top: 75px;
}

.small-heading{
	margin-top: 45px;
}

.small-heading h4{
	/*display:inline-block;*/
}

.main-header .header-button a{
	margin: 0 auto;
	margin-top: 85px;
	background-color: #50c3af;
	padding: 20px 50px;
	display: inline-block;
	border-radius: 50px;
	font-weight: bold;	
}

.header-button a:after{
	content:'>';
	margin-left: 10px;
}

.portfolio-item{
	float: left;
}

h4:after{
	content:'';
	border-bottom:1px solid white;
	margin-left:10px;
	display:block;
}

h4:before{
	content:'';
	border-bottom:1px solid white;
	margin-left:10px;
	display:block;
}