*{
	margin: 0 0;
}

ul {
	list-style: none;
}

.clearfix :after {
	display:table;
	clear: both;
	content: ' ';
}

#main-wrapper{
	max-width: 1280px;
	min-width: 800px;
	margin: 0 auto;
}

header{
	background-color: grey;
	padding: 0 10px;

}

nav .navigation{
	float: left;
	
}

	.navigation li{
		float:left;
	}

	.dropdown-menu{
		display:none;
	}

	.dropdown-base{
		position: relative;
	}
